@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  min-width: 767px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #5e5e5e;
}

input, button {
  border: 0;
  outline: none;
}

/*mobile button area*/
body input[type=checkbox]#gnbcheck {
  display: none;
}

body #gnbbtn {
  display: none;
  position: absolute;
  top: 25px;
  right: 10px;
  width: 32px;
  height: 32px;
  z-index: 900;
}

body #gnbbtn span {
  position: absolute;
  top: 16px;
  height: 1.6px;
  width: 32px;
  background: #fff;
  transform: translateY(-50%);
}

body #gnbbtn span:nth-child(1) {
  top: 8px;
}

body #gnbbtn span:nth-child(3) {
  top: 24px;
}

body #header .row #gnb #mobile_close_btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
}

body #header .row #gnb #mobile_close_btn:before, body #header .row #gnb #mobile_close_btn:after {
  content: '';
  position: absolute;
  height: 1.6px;
  width: 32px;
  background: #fff;
  top: 16px;
  transform: translateY(-50%) rotate(45deg);
}

body #header .row #gnb #mobile_close_btn:before {
  transform: translateY(-50%) rotate(-45deg);
}

.common_btn {
  width: 275px;
  height: 60px;
  padding: 20px 40px;
  margin-top: 30px;
  transition: .5s;
}

.common_btn a {
  display: block;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}

.common_btn.type_a {
  background: #fff;
  margin-right: 30px;
}

.common_btn.type_a a {
  color: #000;
}

.common_btn.type_a:hover {
  background: #ed242e;
}

.common_btn.type_a:hover a {
  color: #fff;
}

.common_btn.type_b {
  background: #00132b;
}

.common_btn.type_b a {
  color: #fff;
}

.common_btn.type_b:hover {
  background: #ed242e;
}

.common_btn.type_c {
  width: 400px;
  height: 80px;
  border-radius: 40px;
}

input[type=text] {
  width: 800px;
  height: 80px;
  border: 1px solid #fff;
  border-radius: 80px;
  background: none;
  padding: 50px;
  font-size: 21px;
  color: #fff;
}

input[type=text]::placeholder {
  color: #eee;
  font-size: 21px;
}

body p {
  font-size: 17px;
}

body h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 45px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

body #header {
  width: 100%;
  height: 90px;
  line-height: 90px;
  background: #ed242e;
}

body #header .row {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

body #header .row ul {
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

body #header .row ul li {
  width: 14.28%;
  float: left;
  font-size: 17px;
  text-align: center;
}

body #header .row ul li:last-child {
  margin-right: 0;
}

body #header .row ul li a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  transition: .5s;
}

body #header .row ul li a.active {
  font-size: 21px;
  font-weight: bold;
  color: #000;
}

body #header .row ul li a span {
  position: relative;
  font-size: 21px;
  font-weight: bold;
}

body #header .row ul li a:hover {
  color: #000;
}

body #main_banner {
  position: relative;
  width: 100%;
  min-height: 850px;
  background: url("../img/bg/covid_bg01.png") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body #main_banner .row {
  position: absolute;
  top: 20%;
  left: 5%;
  color: #fff;
}

body #main_banner .row h1 {
  font-size: 70px;
  text-transform: capitalize;
}

body #main_banner .row p {
  display: block;
  width: 50%;
}

body #card {
  position: relative;
  background: #fff;
  padding: 80px 50px;
  margin: -130px 70px 0;
  box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18);
  border-radius: 60px;
}

body #card .row {
  display: flex;
  flex-wrap: wrap;
}

body #card .row .col {
  display: inline-block;
  flex: 0 0 50%;
}

body #card .row .col:last-child {
  background: url("../img/virus01.png") no-repeat;
  background-position: center;
  background-size: contain;
}

body #card .row .col h2:before {
  position: absolute;
  content: "";
  bottom: 0px;
  background: #ed242e;
  width: 90px;
  height: 10px;
  left: 0;
  border-radius: 20px;
}

body #section1 {
  padding-top: 100px;
}

body #section1 .row {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

body #section1 .row .col {
  height: 400px;
  flex: 0 0 45%;
  margin-right: 5%;
}

body #section1 .row .col h2 {
  position: relative;
}

body #section1 .row .col h2:before {
  position: absolute;
  content: "";
  bottom: 0px;
  background: #ed242e;
  width: 90px;
  height: 10px;
  left: 0;
  border-radius: 20px;
}

body #section1 .row .col:first-child {
  background: url("../img/sub01.png") no-repeat;
  background-position: center;
  background-size: contain;
}

body #section2 {
  padding-top: 100px;
}

body #section2 h2 {
  text-align: center;
}

body #section2 p {
  text-align: center;
}

body #section2 .row {
  padding: 50px;
}

body #section2 .row .col {
  min-height: 600px;
  background: url("../img/sub02.png") no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  margin-top: 30px;
}

body #section2 .row .col .flex_wrap {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body #section2 .row .col .flex_wrap .flex_item {
  position: relative;
  flex: 0 0 calc(33.33% - 60px);
  height: 400px;
  background: #fff;
  margin: 0 30px;
  border-radius: 30px;
}

body #section2 .row .col .flex_wrap .flex_item .inner_wrap {
  padding: 30px 60px;
}

body #section2 .row .col .flex_wrap .flex_item .inner_wrap h4 {
  font-size: 17px;
  text-align: center;
  margin-bottom: 10px;
}

body #section2 .row .col .flex_wrap .flex_item .inner_wrap p {
  font-size: 14px;
}

body #section2 .row .col .flex_wrap .flex_item .inner_wrap .icon {
  width: 100%;
  height: 90px;
  margin: 20px 0;
}

body #section2 .row .col .flex_wrap .flex_item:nth-child(1) .inner_wrap .icon {
  background: url("../img/icon/icon01.png") no-repeat;
  background-position: center;
}

body #section2 .row .col .flex_wrap .flex_item:nth-child(2) .inner_wrap .icon {
  background: url("../img/icon/icon02.png") no-repeat;
  background-position: center;
}

body #section2 .row .col .flex_wrap .flex_item:nth-child(3) .inner_wrap .icon {
  background: url("../img/icon/icon03.png") no-repeat;
  background-position: center;
}

body #section3 {
  padding-top: 100px;
}

body #section3 h2 {
  text-align: center;
}

body #section3 p {
  text-align: center;
}

body #section3 .row {
  padding: 0 50px;
}

body #section3 .row .col {
  min-height: 650px;
  margin-top: 30px;
}

body #section3 .row .col .flex_wrap {
  min-height: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body #section3 .row .col .flex_wrap .flex_item {
  flex: 0 0 calc(33.33% - 60px);
  height: 700px;
  margin: 30px 30px 0;
  background: #fff;
  padding: 30px;
  box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18);
  margin-bottom: 70px;
}

body #section3 .row .col .flex_wrap .flex_item .inner_wrap {
  text-align: center;
}

body #section3 .row .col .flex_wrap .flex_item .inner_wrap .img {
  width: 100%;
  height: 400px;
}

body #section3 .row .col .flex_wrap .flex_item .inner_wrap h3 {
  margin: 15px 0;
}

body #section3 .row .col .flex_wrap .flex_item .inner_wrap p {
  font-size: 17px;
}

body #section3 .row .col .flex_wrap .flex_item:nth-child(1) .inner_wrap .img {
  background: url("../img/sub03.png");
}

body #section3 .row .col .flex_wrap .flex_item:nth-child(2) .inner_wrap .img {
  background: url("../img/sub04.png") no-repeat;
  background-position: center;
  background-size: cover;
}

body #section3 .row .col .flex_wrap .flex_item:nth-child(3) .inner_wrap .img {
  background: url("../img/sub05.png") no-repeat;
  background-position: center;
  background-size: cover;
}

body #section4 {
  padding-top: 100px;
}

body #section4 h2 {
  text-align: center;
}

body #section4 .row {
  padding: 50px;
}

body #section4 .row .col {
  min-height: 650px;
  margin-top: 30px;
}

body #section4 .row .col .flex_wrap {
  min-height: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

body #section4 .row .col .flex_wrap .flex_item {
  flex: 0 0 calc(40% - 50px);
  background: #fff;
  padding: 30px 40px;
  box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18);
  margin: 30px 0 70px 0;
}

body #section4 .row .col .flex_wrap .flex_item:nth-child(1) {
  margin-right: 50px;
}

body #section4 .row .col .flex_wrap .flex_item:nth-child(1) .inner_wrap .img {
  background: url("../img/doctor01.png");
}

body #section4 .row .col .flex_wrap .flex_item:nth-child(2) .inner_wrap .img {
  background: url("../img/doctor02.png");
}

body #section4 .row .col .flex_wrap .flex_item .inner_wrap {
  text-align: center;
  height: 500px;
}

body #section4 .row .col .flex_wrap .flex_item .inner_wrap .img {
  width: 150px;
  height: 150px;
  margin: -130px auto 0;
  border-radius: 100%;
}

body #section4 .row .col .flex_wrap .flex_item .inner_wrap h3 {
  font-size: 21px;
  margin: 30px 0 15px;
}

body #section4 .row .col .flex_wrap .flex_item .inner_wrap p {
  font-size: 14px;
}

body #section4 .row .col .flex_wrap .flex_item .inner_wrap span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../img/icon/quote.png") no-repeat;
  margin-top: 30px;
}

body #section5 {
  padding-top: 100px;
}

body #section5 h2 {
  text-align: center;
}

body #section5 .row {
  padding-top: 50px;
}

body #section5 .row .col {
  position: relative;
  min-height: 600px;
  background: url("../img/sub06.png") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 30px;
}

body #section5 .row .col input {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}

body #section5 .row .col button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
}

body #footer {
  padding: 80px 80px 40px;
  background: #000;
}

body #footer .f_top .row .col .flex_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

body #footer .f_top .row .col .flex_wrap .flex_item {
  flex: 0 0 25%;
  padding: 0 40px;
}

body #footer .f_top .row .col .flex_wrap .flex_item:nth-child(1) {
  flex: 0 0 100px;
}

body #footer .f_top .row .col .flex_wrap .flex_item:nth-child(1) #f_nav li {
  margin-bottom: 15px;
}

body #footer .f_top .row .col .flex_wrap .flex_item:nth-child(1) #f_nav li a {
  text-transform: capitalize;
  color: #fff;
  transition: .5s;
}

body #footer .f_top .row .col .flex_wrap .flex_item:nth-child(1) #f_nav li a:hover {
  color: #5e5e5e;
}

body #footer .f_top .row .col .flex_wrap .flex_item:nth-child(3) #info li a {
  color: #fff;
  transition: .5s;
}

body #footer .f_top .row .col .flex_wrap .flex_item:nth-child(3) #info li a:hover {
  color: #5e5e5e;
}

body #footer .f_top .row .col .flex_wrap .flex_item:nth-child(4) .img {
  width: 100%;
  height: 200px;
  background: url("../img/map.png") no-repeat;
  background-size: contain;
}

body #footer .f_top .row .col .flex_wrap .flex_item h3 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

body #footer .f_top .row .col .flex_wrap .flex_item p {
  color: #fff;
  font-size: 14px;
}

body #footer .f_bottom p {
  display: block;
  text-align: center;
  color: #fff;
  border-top: 1px solid #5e5e5e;
  padding-top: 40px;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  body.main #section3 .row .col .flex_wrap .flex_item {
    flex: 0 0 100%;
    height: auto;
    padding: 60px;
  }
}

@media screen and (max-width: 1280px) {
  body.main h2 {
    font-size: 35px;
  }
  body.main #card {
    margin: -130px 5% 0;
  }
  body.main #card .row .col:first-child {
    flex: 0 0 55%;
    margin-right: 5%;
  }
  body.main #card .row .col:last-child {
    flex: 0 0 40%;
  }
}

@media screen and (max-width: 930px) {
  body.main #card .row .col:first-child {
    flex: 0 0 100%;
    margin-right: 0;
    height: auto;
  }
  body.main #card .row .col:last-child {
    flex: 0 0 100%;
    height: 400px;
    margin-top: 30px;
  }
  body.main #section1 .row .col {
    flex: 0 0 100%;
    margin-right: 0;
  }
  body.main #section1 .row .col:first-child {
    order: 2;
    margin-top: 30px;
  }
  body.main #section1 .row .col:last-child {
    order: 1;
    height: auto;
  }
  body.main #section3 .row .col .flex_wrap .flex_item {
    padding: 60px 30px;
  }
}

@media screen and (max-width: 767px) {
  body.main p {
    font-size: 14px;
  }
  body.main #main_banner .row button {
    display: block;
  }
}

@media screen and (max-width: 1620px) {
  body #section4 .row .col .flex_wrap {
    justify-content: space-around;
  }
  body #section4 .row .col .flex_wrap .flex_item {
    height: 500px;
  }
  body #section4 .row .col .flex_wrap .flex_item:first-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 1440px) {
  body #section2 .row .col .flex_wrap {
    justify-content: space-around;
  }
  body #section2 .row .col .flex_wrap .flex_item {
    height: 480px;
    margin: 0;
  }
  body #section2 .row .col .flex_wrap .flex_item .inner_wrap {
    padding: 30px;
  }
}

@media screen and (max-width: 1320px) {
  body #section4 .row .col .flex_wrap .flex_item {
    flex: 0 0 100%;
    height: 350px;
    margin: 30px 0 130px 0;
  }
  body #footer .f_top .row .col .flex_wrap .flex_item {
    flex: 0 0 50%;
    padding: 20px 0;
  }
  body #footer .f_top .row .col .flex_wrap .flex_item:first-child {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 1280px) {
  body #header .row ul li:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 1180px) {
  body #section2 .row .col .flex_wrap .flex_item {
    flex: 0 0 calc(100% - 60px);
    height: auto;
    margin: 30px 0;
  }
  body #section2 .row .col .flex_wrap .flex_item .inner_wrap {
    padding: 30px 60px;
  }
  body #section2 .row .col .flex_wrap .flex_item .inner_wrap .icon {
    margin-top: 0;
  }
}

@media screen and (max-width: 1024px) {
  body.main #main_banner .row h1 {
    font-size: 50px;
  }
  body.main #main_banner .row p {
    width: 60%;
  }
}

@media screen and (max-width: 930px) {
  body #section4 .row .col .flex_wrap .flex_item {
    height: auto;
  }
  body #section5 .row .col input[type=text] {
    width: 600px;
  }
  body #section5 .row .col input[type=text]::placeholder {
    font-size: 17px;
  }
  body #footer .f_top .row .col .flex_wrap .flex_item {
    flex: 0 0 100%;
    text-align: center;
  }
  body #footer .f_top .row .col .flex_wrap .flex_item:first-child {
    flex: 0 0 100%;
  }
  body #footer .f_top .row .col .flex_wrap .flex_item:first-child #f_nav li {
    border-bottom: 1px solid #5e5e5e;
    padding-bottom: 5px;
  }
  body #footer .f_top .row .col .flex_wrap .flex_item:last-child .img {
    background-position: center;
  }
}

@media screen and (max-width: 767px) {
  body #gnbcheck {
    display: block;
  }
  body #gnbcheck:checked ~ #header #gnb {
    left: 0;
    z-index: 900;
  }
  body #gnbbtn {
    display: block;
  }
  body #header .row #gnb {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 80%;
    background: rgba(0, 0, 0, 0.8);
    transition: .5s ease-in-out;
  }
  body #header .row #gnb #mobile_close_btn {
    display: block;
  }
  body #header .row #gnb ul {
    padding-top: 50px;
    float: none;
  }
  body #header .row #gnb ul li {
    float: none;
    width: 100%;
  }
  body #header .row #gnb ul li a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    color: #fff;
  }
  body #header .row #gnb ul li a:hover {
    color: #5e5e5e;
  }
}

body.sub .wrapper {
  height: 600px;
}

body.sub #section1 {
  padding: 100px 0;
}

body.sub #section1 .row {
  margin: 50px 0;
}

body.sub #section1 .row:nth-child(1) .col:first-child {
  background: url("../img/virus01.png") no-repeat;
  background-position: center;
  background-size: contain;
}

body.sub #section1 .row:nth-child(2) .col:first-child {
  background: none;
  padding-left: 100px;
}

body.sub #section1 .row:nth-child(2) .col:last-child {
  background: url("../img/sub01-2.png") no-repeat;
  background-size: contain;
  background-position: center;
}

body.sub #section1 .row:nth-child(3) .col:first-child {
  background: url("../img/sub01-3.png") no-repeat;
  background-size: contain;
  background-position: center;
}

body.sub #section1 .row:nth-child(4) .col:first-child {
  background: none;
  padding-left: 100px;
}

body.sub #section1 .row:nth-child(4) .col:last-child {
  background: url("../img/sub01-4.png") no-repeat;
  background-size: contain;
  background-position: center;
}

body.sub #section2 {
  padding: 100px 0;
}

body.sub #section2 .row .col .flex_wrap:last-child .flex_item:nth-child(1) .inner_wrap .icon {
  background: url("../img/icon/icon04.png") no-repeat;
  background-position: center;
}

body.sub #section2 .row .col .flex_wrap:last-child .flex_item:nth-child(2) .inner_wrap .icon {
  background: url("../img/icon/icon05.png") no-repeat;
  background-position: center;
}

body.sub #section2 .row .col .flex_wrap:last-child .flex_item:nth-child(3) .inner_wrap .icon {
  background: url("../img/icon/icon06.png") no-repeat;
  background-position: center;
}

body.sub #section3 {
  padding: 100px 0;
}

body.sub #section3 .row .col .flex_wrap .flex_item {
  height: 1000px;
}

body.sub #section4 {
  padding: 100px 0;
}

body.sub #section4 .row {
  padding: 0 50px;
}

body.sub #section4 .row .col.second .flex_wrap .flex_item:first-child .inner_wrap .img {
  background: url("../img/doctor03.png");
}

body.sub #section4 .row .col.second .flex_wrap .flex_item:last-child .inner_wrap .img {
  background: url("../img/doctor04.png");
}

body.sub #section5 {
  padding-top: 50px;
}

body.sub #section5 .row {
  padding-top: 0;
}

@media screen and (max-width: 1600px) {
  body.sub #section3 .row .col .flex_wrap .flex_item {
    flex: 0 0 100%;
    height: auto;
    padding: 60px;
  }
}

@media screen and (max-width: 1320px) {
  body.sub h2 {
    font-size: 35px;
  }
  body.sub #section1 .row.left .col:first-child {
    flex: 0 0 40%;
  }
  body.sub #section1 .row.left .col:last-child {
    flex: 0 0 50%;
    margin-right: 0;
  }
  body.sub #section1 .row.right .col:first-child {
    flex: 0 0 50%;
    padding-left: 30px;
  }
  body.sub #section1 .row.right .col:last-child {
    flex: 0 0 40%;
    margin-right: 0;
  }
}

@media screen and (max-width: 930px) {
  body.sub #section1 {
    padding: 50px 0;
  }
  body.sub #section1 .row.left .col:first-child {
    flex: 0 0 100%;
    order: 2;
  }
  body.sub #section1 .row.left .col:last-child {
    flex: 0 0 100%;
    order: 1;
    height: auto;
    margin-bottom: 30px;
  }
  body.sub #section1 .row.right .col:first-child {
    flex: 0 0 100%;
    height: auto;
    padding-left: 0;
  }
  body.sub #section1 .row.right .col:last-child {
    flex: 0 0 100%;
  }
}

/* active interaction */
.container.active .row {
  opacity: 1;
  transform: translateY(0px);
}
