//변수선언

//font color
$fontColorPrimary: #5e5e5e;
$pointColorPrimary: #ed242e;
$btnBgPrimary: #00132b;

//font size
$fontSizeExtraSmall: 14px;
$fontSizeSmall: 17px;//p
$fontSizeMiddle: 21px;

//title size
$TitleFontSizeLarge: 45px;//h2
$TitleFontSizeExtraLarge: 70px;//h1
